/* PC */
@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}


/* TABLE & MOBILE */
@media screen and (max-width: 991.98px) {

    .nav,
    .header__email-box {
        display: none;
    }

    .header {
        max-width: 540px;
        padding: 10px 20px;
        border-bottom: 1px solid #D6D3E2;
    }

    .header::after {
        position: absolute;
    }

    .header__avatar {
        width: 38px;
        height: 44px;
        object-fit: cover;
    }

    .header .logo {
        width: 32px;
        height: 32px;
    }

    .nav-mobile {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .overlay {
        position: fixed;
        inset: 0;
        z-index: 1;

        background: rgba(0, 0, 0, 0.4);

        visibility: hidden;
        opacity: 0;

        transition: 0.25s linear;
    }

    .menu__mobile {
        padding: 40px;

        position: fixed;
        inset: 0 30% 0 0;
        z-index: 2;

        background: #ebebeb;

        transform: translateX(-100%);

        transition: 0.25s linear;
    }

    .menu__mobile svg {
        position: absolute;
        width: 12px;
        right: 24px;
        top: 16px;
    }

    .menu__mobile img {
        margin: 24px 0;
    }

    .menu__item-link {
        display: inline-block;
        padding: 18px 8px;
        font-weight: 500;
        color: #080415;
    }

    .input-checkbox:checked~.overlay {
        visibility: visible;
        opacity: 1;
    }

    .input-checkbox:checked~.menu__mobile {
        transform: translateX(0%);
    }

    .x {
        order: 1;
        overflow: hidden;
    }

    .hero__info {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .hero__cta,
    .hero__contact {
        margin-top: 30px;
    }

    .hero__heading {
        width: 260px;
        color: #080415;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 1.2;
        /* 119.048% */
        letter-spacing: -1.68px;
    }

    .hero__img {
        width: 260px;
        height: 355px;
    }

    .hero__media {
        text-align: center;
    }

    .hero__media::after {
        bottom: -55px;
        left: -185px;
    }

    /* CLIENT */
    .client__heading {
        text-align: center;
        margin-left: initial;
    }

    .client__heading::before {
        margin-bottom: 20px;
        top: -8px;
        left: 75px;
    }

    .client__inner {
        justify-content: center;
    }

    .network-list {
        margin-top: 24px;
        grid-template-columns: 1fr 1fr;
    }

    /* SPEC */

    .spec__desc {
        width: 350px;
    }

    .spec__list {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .spec__dots {
        margin-top: 30px;
        display: flex;
        column-gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .spec__dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #08041533;
    }

    .spec__dot.active {
        width: 20px;
        height: 20px;
        border: 1px solid;
        background: #5D3BEE;
        border: 3px solid #fff;
        outline: 1px solid #5D3BEE;
    }

}



/* TABLE */
@media screen and (min-width:576px) and (max-width: 991.98px) {}


/* MOBILE */
@media screen and (max-width:575.98px) {}