/* PC */
@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}


/* TABLE & MOBILE */
@media screen and (max-width: 991.98px) {

    .nav,
    .header__email-box {
        display: none;
    }

    .header {
        max-width: 540px;
        padding: 10px 20px;
        border-bottom: 1px solid #D6D3E2;
    }

    .header::after {
        position: absolute;
    }

    .header__avatar {
        width: 38px;
        height: 44px;
        object-fit: cover;
    }

    .header .logo {
        width: 32px;
        height: 32px;
    }

    .nav-mobile {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .overlay {
        position: fixed;
        inset: 0;
        z-index: 1;

        background: rgba(0, 0, 0, 0.4);

        visibility: hidden;
        opacity: 0;

        transition: 0.25s linear;
    }

    .menu__mobile {
        padding: 40px;

        position: fixed;
        inset: 0 30% 0 0;
        z-index: 2;

        background: #ebebeb;

        transform: translateX(-100%);

        transition: 0.25s linear;
    }

    .menu__mobile svg {
        position: absolute;
        width: 12px;
        right: 24px;
        top: 16px;
    }

    .menu__mobile img {
        margin: 24px 0;
    }

    .menu__item-link {
        display: inline-block;
        padding: 18px 8px;
        font-weight: 500;
        color: #080415;
    }

    .input-checkbox:checked~.overlay {
        visibility: visible;
        opacity: 1;
    }

    .input-checkbox:checked~.menu__mobile {
        transform: translateX(0%);
    }

    .x {
        order: 1;
        overflow: hidden;
    }

    .hero__info {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .hero__cta,
    .hero__contact {
        margin-top: 30px;
    }

    .hero__heading {
        width: 260px;
        color: #080415;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 1.2;
        /* 119.048% */
        letter-spacing: -1.68px;
    }

    .hero__img {
        width: 260px;
        height: 355px;
    }

    .hero__media {
        text-align: center;
    }

    .hero__media::after {
        bottom: -55px;
        left: -185px;
    }

    /* CLIENT */
    .client__heading {
        text-align: center;
        margin-left: initial;
    }

    .client__heading::before {
        margin-bottom: 20px;
        top: -8px;
        left: 75px;
    }

    .client__inner {
        justify-content: center;
    }

    .network-list {
        margin-top: 24px;
        grid-template-columns: 1fr 1fr;
    }

    /* SPEC */

    .spec__desc {
        width: 350px;
    }

    .spec__list {
        flex-wrap: nowrap;
        overflow: hidden;
    }



    /* PROJECT */

    .project__img {
        width: 122px;
        height: 93px;
    }

    .project__top {
        flex-wrap: wrap;
        gap: 32px;
        text-align: center;
    }

    .project__heading {
        font-size: 4.2rem;
    }

    .project__desc {
        font-size: 1.6rem;
    }

    /* ABOUT */
    .about__heading {
        font-size: 4.9rem;
    }

    .about__desc {
        width: auto;
        font-size: 1.6rem;
    }

    .about__item-heading {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.40;
        letter-spacing: 0.9px;
    }

    .about__item-desc {
        margin-top: 8px;
        width: 75px;
        color: #51586A;
        font-size: 1.6rem;
    }

    .about__video-btn {
        width: 77px;
        height: 77px;

    }

    .about__video-desc {
        min-width: 118px;
        line-height: 44px;
        font-size: 1.2rem;
        right: 6px;
        bottom: 12px;
    }

    .people__quote {
        text-align: initial;
        width: 350px;
        color: #51586A;
        font-size: 1.8rem;
        line-height: 1.67;
        /* 166.667% */
    }

    .about__decor {
        width: 96.163px;
        height: 71.126px;
    }

    /* QUESTION */
    .ques-item {
        padding: 24px 0 0;
    }

    .ques-item__input:checked~.ques-item__label .ques-item__label_bg {
        margin-top: 0;
        border-color: #5d3bee33;
    }

    .ques-item__input:checked~.ques-item__body {
        margin-top: 12px;
    }

    .ques__heading {
        font-size: 3.6rem;
    }

    .title-lv3 {
        width: 264px;
        font-size: 2.4rem;
    }

    .ques-item__label_bg {
        width: 33px;
        height: 33px;
        margin-top: 0;
    }

    .ques-item__body--desc {
        width: 316px;
        font-size: 1.6rem;
    }
}



/* TABLE */
@media screen and (min-width:576px) and (max-width: 991.98px) {}


/* MOBILE */
@media screen and (max-width:575.98px) {}