*,
::before,
::after {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

/* COMMON */

a {
    text-decoration: none;
}

.btn {
    position: relative;
    display: inline-block;
    min-width: 170px;
    line-height: 62px;

    color: #FDFDFD;

    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    background: #5D3BEE;
    /* 166.667% */
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: orange;
    transition: width 0.3s ease-in-out;
}

.btn:hover::after {
    left: 0;
    right: initial;
    width: 100%;
}



/* HEADER */
.header {
    padding: 20px 135px;
    background: #FBFAFF;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__email-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover {
    border: 1px solid rgba(93, 59, 238, 1);
    cursor: pointer;
}

.header__mail-text {
    color: #080415;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.header__avatar {
    width: 70px;
    height: 80px;
}

.nav__list {
    display: flex;
    column-gap: 42px;
}

.nav__item-link {
    color: #51586A;
    font-size: 1.8rem;
}

.nav__item-link:hover {
    text-shadow: 1px 0 0 #000;
}

/* HERO */
.hero {
    padding-top: 24px;
    background: #FBFAFF;

}

.hero__inner {
    align-items: center;
}

.hero__media {
    position: relative;

}

.hero__img {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 514px;
    object-fit: cover;
}

.hero__media::after {
    content: url(../img/hero_decor_01.png);
    position: absolute;
    bottom: -1px;
    left: -220px;
}

.hero__heading {
    color: #080415;

    font-size: 8rem;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -3.2px;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
    color: #51586A;
    font-size: 1.8rem;
    line-height: 1.66;
    /* 166.667% */
}


.hero__cta {
    margin-top: 50px;
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.hero__cta-job {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
}

.hero__contact {
    margin-top: 110px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__contact-text {
    color: #51586A;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.88;
    /* 187.5% */
}

.hero__icon svg {
    margin-right: 18px;
}

.hero__icon svg:hover {
    cursor: pointer;
}